<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guestbook index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Guestbook</h1>
<div th:insert="~{user :: usertab}"></div>
<span th:text="${user}"></span>
<p>
    <a th:href="@{/add-rand-user/}">Generate new author</a>
</p>
<p>
    <a th:href="@{/add-rand-comment/}">Generate new comment</a>
</p>
<p>
    <a th:href="@{/reg/}">Register new author</a>
</p>
<p>
    <a th:href="@{/comment/comments/}">Comments</a>
</p>

<h2>Comments</h2>
<p>Comments: <span th:text="${commentCounter}">0</span></p>

<h2>List of all users</h2>
<ul th:each="user : ${users}">
    <li>
        <span th:text="${user.id} + ' ' + ${user.name} + ' (created: ' + ${user.created} + ')'"></span>
        <a th:href="@{'/author/delete/' + ${user.id}}">delete</a>
    </li>
</ul>

<p>Users: <span th:text="${counter}">0</span></p>
<p>Found users: <span th:text="${foundUsers}">[]</span></p>

<h2>List of all votes</h2>
<ul th:each="vote : ${votes}">
    <li>
        <span th:text="${vote.id} + '(' + ${vote.author} + ')'"></span>
    </li>
</ul>

</body>
</html>
